{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load static %}

<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css">


    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">

  </head>
  <!--search filter-->
  <!-- Search Filter -->
    <div class="w-full max-w-full mx-auto px-4 sm:px-6 lg:px-8 m-2">
      <div class="bg-base-100 p-4 rounded-lg shadow-[0_0_15px_5px_rgba(0,123,255,0.2)] flex flex-col sm:flex-row items-center space-y-4 sm:space-y-0 sm:space-x-4 transition-shadow duration-300 hover:shadow-[0_0_20px_10px_rgba(0,123,255,0.3)] mx-auto">
        <!-- Top Options -->
        <div class="flex space-x-2">
          <a href="?deal_type=buy" class="btn btn-sm {% if deal_type == 'buy' %}btn-primary{% else %}btn-outline{% endif %}">
            <i class="fas fa-shopping-cart mr-1"></i> Buy
          </a>
          <a href="?deal_type=sell" class="btn btn-sm {% if deal_type == 'sell' %}btn-primary{% else %}btn-outline{% endif %}">
            <i class="fas fa-tag mr-1"></i> Sell
          </a>
          <a href="?deal_type=rent" class="btn btn-sm {% if deal_type == 'rent' %}btn-primary{% else %}btn-outline{% endif %}">
            <i class="fas fa-house-user mr-1"></i> Rent
          </a>
        </div>

        <!-- Search Input -->
<!-- Search Input -->
<form method="GET" class="flex-grow relative">
  <input
    type="text"
    name="search_query"
    value="{{ search_query|default_if_none:'' }}"
    placeholder="Search..."
    class="input input-bordered w-full pr-20 focus:outline-none focus:ring-2 focus:ring-primary focus:border-transparent transition-all duration-200"
  />
  <!-- Search Button -->
  <button type="submit" class="absolute right-14 top-1/2 transform -translate-y-1/2 btn btn-circle btn-sm btn-primary hover:bg-primary-focus transition-colors duration-200">
    <i class="fas fa-search text-white"></i>
  </button>
  <!-- Reset Button -->
  <!-- Reset Button -->
    <button type="button" onclick="window.location.href='?{% if request.GET.search_query %}{{ request.GET.urlencode|cut:'&search_query='|cut:request.GET.search_query }}{% else %}{{ request.GET.urlencode }}{% endif %}'" class="absolute right-2 top-1/2 transform -translate-y-1/2 btn btn-circle btn-sm btn-secondary hover:bg-secondary-focus transition-colors duration-200">
      <i class="fas fa-times text-white"></i>
      </button>
</form>
      </div>
    </div>
  <!-- search filter-->

  <h1 class="text-3xl font-bold mb-6 text-center text-gray-900 dark:text-gray-100">
    {% if property_type %}
      {{ property_type|title }} Properties
    {% else %}
      All Properties
    {% endif %}
  </h1>
  

  <div class="w-full px-4 sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6 mx-auto">
      {% for property in page_obj %}
        <div class="relative mx-auto w-full">
          <a href="{% url 'property_detail' property.slug %}" class="relative inline-block transition-transform transform hover:-translate-y-2 w-full">
            <div class="p-4 rounded-lg bg-base-100 shadow-[0_0_10px_2px_rgba(0,123,255,0.5)] dark:shadow-[0_0_15px_3px_rgba(255,255,255,0.2)]">
              <!-- Property Image -->
              <div class="flex justify-center relative rounded-lg overflow-hidden h-52">
                <div class="absolute inset-0 bg-cover bg-center" style="background-image: url('https://images.unsplash.com/photo-1517841905240-472988babdf9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80');"></div>
                <div class="transition-transform duration-500 transform ease-in-out hover:scale-110 w-full">
                  <div class="absolute inset-0 bg-black opacity-10"></div>
                </div>
                <div class="absolute flex justify-center bottom-0 mb-3">
                  <div class="flex bg-base-100 px-4 py-1 space-x-5 rounded-lg shadow">
                    <p class="flex items-center font-medium text-base-content">
                      <i class="fa-solid fa-eye"></i> {{ property.total_views }}
                    </p>
                    <p class="flex items-center font-medium text-base-content">
                      <i class="fa-solid fa-heart"></i> {{ property.total_likes }}
                    </p>
                    <p class="flex items-center font-medium text-base-content">
                      <i class="fa-solid fa-share"></i> {{ property.total_shares }}
                    </p>
                  </div>
                </div>
                <span class="absolute top-0 left-0 mt-3 ml-3 px-3 py-2 rounded-lg z-10 text-sm font-medium text-white {% if property.deal_type == 'SELL' %} bg-red-600 dark:bg-red-400 
                {% elif property.deal_type == 'BUY' %} bg-green-600 dark:bg-green-400 
                {% elif property.deal_type == 'RENT' %} bg-blue-600 dark:bg-blue-400 
                {% else %} bg-gray-700 dark:bg-gray-500 {% endif %}">
                  {{ property.get_deal_type_display }}
                </span>
              </div>
  
              <!-- Property Details -->
              <div class="mt-4">
                <h2 class="font-medium text-lg text-base-content truncate" title="New York">
                  {{ property.title }}
                </h2>
                <p class="mt-2 text-sm text-base-content truncate" title="New York, NY 10004, United States">
                  📌{{ property.state }} | {{ property.subdivision }} | {{ property.village }} <span class="float-right">{{ property.listing_date }}</span>
                </p>
              </div>
              <div class="grid grid-cols-2 gap-4 mt-6">
                <p class="inline-flex items-center text-base-content">
                  <i class="fa-solid fa-house mr-2"></i> Condominium
                </p>
                <p class="inline-flex items-center text-base-content">
                  <i class="fa-solid fa-couch mr-2"></i> {{ property.distance_from_road }}
                </p>
                <p class="inline-flex items-center text-base-content">
                  <i class="fa-solid fa-map mr-2"></i> {{ property.total_area }} {{ property.area_unit }}
                </p>
                <p class="inline-flex items-center text-base-content">
                  <i class="fa-solid fa-tags mr-2"></i> {{ property.price }}
                </p>
              </div>
              <div class="grid grid-cols-2 mt-6">
                <div class="flex items-center">
                  <div class="avatar">
                    <div class="w-10 rounded-full ring ring-primary ring-offset-base-100 ring-offset-2">
                      <img src="https://randomuser.me/api/portraits/men/32.jpg" alt="User">
                    </div>
                  </div>
                  <div class="ml-2">
                    <p class="text-sm font-semibold text-base-content">{{ property.user.username }}</p>
                    <p class="text-xs text-base-content/70">Real Estate Agent</p>
                  </div>
                </div>
                <div class="flex justify-end items-center">
                  <button class="btn btn-primary btn-sm">
                    <i class="fa-solid fa-phone mr-2"></i> Contact
                  </button>
                </div>
              </div>
            </div>
          </a>
        </div>
      {% empty %}
        <p class="text-base-content dark:text-base-content/70 text-center py-6 col-span-4">No properties available.</p>
      {% endfor %}
    </div>
  </div>



<br>

{% endblock %}
