{% extends 'base.html' %}
{% load static %}

{% block content %}

  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      AOS.init({
        duration: 1000, // Animation duration
        once: true, // Animate only once
      });
    });
  </script>

<div class="max-w-screen-xl mx-auto py-8 px-4 lg:py-16 lg:px-6 overflow-hidden">

  <!-- Section 1: Land -->
  <div class="mb-16" data-aos="fade-up">
    <div class="text-center mb-10">
      <h2 class="text-4xl tracking-tight font-bold text-green-800">Land</h2>
    </div>
    <div class="flex flex-col md:flex-row">
      <!-- Left Column: Image -->
      <div class="w-full md:w-1/3 text-center md:text-left" data-aos="fade-right">
        <img class="w-full max-w-sm mx-auto md:mx-0 h-auto rounded-lg" src="{% static 'images/hero.png' %}" alt="Land Image">
        <h3 class="text-xl font-semibold mt-4 text-accent">
            Expand Your Business Horizons
        </h3>
        
        <div class="mt-4">
          <a href="{% url 'property_list' property_type='land' %}" class="px-6 py-2 bg-green-600 text-white rounded-lg hover:bg-green-700 transition font-semibold">
            Read More Posts
          </a>
        </div>
      </div>
      
      <!-- Right Column: Cards -->
      <div class="flex-1 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 gap-6 ml-0 md:ml-8 mt-6 md:mt-0" data-aos="fade-left">
        <!-- Card 1 -->
        {% for property in land_properties %}
        <a href="{% url 'property_detail' property.slug %}" class="block">
        <div class="h-full py-4 px-6 border border-green-500 rounded-lg shadow-md transition duration-300 ease-in-out hover:bg-green-100 hover:scale-105 hover:border-green-600">
            <h3 class="text-2xl font-bold mb-4">{{ property.title }}</h3>
              <p class="text-sm">{{ property.state }} | {{ property.subdivision }}  {{ property.listing_date }}</p>
        </div>
        </a>
        {% endfor %}
        
          
      </div>
    </div>
  </div>

  <!-- Section 2: Residential -->
<div class="mb-16" data-aos="fade-up">
    <div class="text-center mb-10">
      <h2 class="text-4xl tracking-tight font-bold text-blue-800">Residential</h2>
    </div>
    <div class="flex flex-col md:flex-row-reverse">
      <!-- Right Column: Image -->
      <div class="w-full md:w-1/3 text-center md:text-right" data-aos="fade-left">
        <img class="w-[90%] max-w-full mx-auto md:mx-0 h-auto rounded-lg" src="{% static 'images/hero.png' %}" alt="Residential Image">
        <h3 class="text-xl font-semibold mt-4 text-secondary">
            Expand Your Business Horizons
        </h3>
        
        <div class="mt-4">
          <a href="{% url 'property_list' property_type='residential' %}" class="px-6 py-2 bg-blue-600 text-white rounded-lg hover:bg-blue-700 transition font-semibold">
            Read More Posts
          </a>
        </div>
      </div>
      <!-- Left Column: Cards -->
      <div class="w-full flex-1 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 gap-6 mt-6 md:mt-0" data-aos="fade-right">
        <!-- Card 1 -->
        {% for property in residential_properties %}
        <a href="{% url 'property_detail' property.slug %}" class="block">
        <div class="h-full py-4 px-6 border border-blue-500 rounded-lg shadow-md transition duration-300 ease-in-out hover:bg-blue-100 hover:scale-105 hover:border-blue-500">
          <h3 class="text-2xl font-bold mb-4 text-blue-700">{{ property.title }}</h3>
          <p class="text-sm">{{ property.state }} | {{ property.subdivision }} {{ property.listing_date }}</p>
        </div>
        </a>
        {% endfor %}
      </div>
    </div>
  </div>

  
  
  <!-- Section 3: Commercial -->
  <div class="mb-16" data-aos="fade-up">
    <div class="text-center mb-10">
      <h2 class="text-4xl tracking-tight font-bold text-yellow-800">Commercial</h2>
    </div>
    <div class="flex flex-col md:flex-row">
      <!-- Left Column: Image -->
      <div class="w-full md:w-1/3 text-center md:text-left" data-aos="fade-right">
        <img class="w-[90%] mx-auto md:mx-0 h-auto rounded-lg" src="{% static 'images/hero.png' %}" alt="Commercial Image">
        <h3 class="text-xl font-semibold mt-4 text-primary">
            Expand Your Business Horizons
        </h3>
        
        <div class="mt-4">
          <a href="{% url 'property_list' property_type='commercial' %}" class="px-6 py-2 bg-yellow-600 text-white rounded-lg hover:bg-yellow-700 transition font-semibold">
            Read More Posts
          </a>
        </div>
      </div>
      <!-- Right Column: Cards -->
      <div class="flex-1 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 gap-6 ml-0 md:ml-8 mt-6 md:mt-0" data-aos="fade-left">
        <!-- Card 1 -->
        {% for property in commercial_properties %}
        <a href="{% url 'property_detail' property.slug %}" class="block">
        <div class="h-full py-4 px-6 border border-yellow-500 rounded-lg shadow-md transition duration-300 ease-in-out hover:bg-yellow-100 hover:scale-105 hover:border-yellow-500">
            <h3 class="text-2xl font-bold mb-4 text-yellow-700">{{ property.title }}</h3>
            <p class="text-sm">{{ property.state }} | {{ property.subdivision }} {{ property.listing_date }}</p>
        </div>
        </a>
        {% endfor %}
      </div>
    </div>
  </div>


    
  <!-- Section 4: Industrial -->
  <div class="mb-16" data-aos="fade-up">
    <div class="text-center mb-10">
      <h2 class="text-4xl tracking-tight font-bold text-purple-800">Industrial</h2>
    </div>
    <div class="flex flex-col md:flex-row-reverse">
      <!-- Right Column: Image -->
      <div class="w-full md:w-1/3 text-center md:text-right" data-aos="fade-left">
        <img class="w-[90%] mx-auto md:mx-0 h-auto rounded-lg" src="{% static 'images/hero.png' %}" alt="Industrial Image">
        <h3 class="text-xl font-semibold mt-4 text-primary">
            Expand Your Business Horizons
        </h3>
        
        <div class="mt-4">
          <a href="{% url 'property_list' property_type='industrial' %}" class="px-6 py-2 bg-purple-600 text-white rounded-lg hover:bg-purple-700 transition font-semibold">
            Read More Posts
          </a>
        </div>
      </div>
      <!-- Left Column: Cards -->
      <div class="flex-1 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 gap-6 mr-0 md:mr-8 mt-6 md:mt-0" data-aos="fade-right">
        <!-- Card 1 -->
        {% for property in industrial_properties %}
        <a href="{% url 'property_detail' property.slug %}" class="block">
        <div class="h-full py-4 px-6 border border-purple-500 rounded-lg shadow-md transition duration-300 ease-in-out hover:bg-purple-100 hover:scale-105 hover:border-purple-500">
            <h3 class="text-2xl font-bold mb-4 text-purple-700">{{ property.title }}</h3>
            <p class="text-sm">{{ property.state }} | {{ property.subdivision }} {{ property.listing_date }}</p>
        </div>
        </a>
        {% endfor %}
      </div>
    </div>
  </div>





</div>


{% endblock %}
