<!-- base.html -->
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Base Template</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    {% tailwind_css %}
</head>
<body class="min-h-screen bg-gray-200 text-gray-800 dark:bg-gray-900 dark:text-white">
    <main class="bg-gray-200 text-gray-800 dark:bg-gray-900 dark:text-white transition-colors duration-300 -mt-4">
        {% include "include/navibar.html" %}
    {% block content %}
    
    {% endblock %}
    </main>     
</body>
</html>